body {
  margin: 0;
  padding: 0;
  color: #1f3933;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.bar {
  background: rgb(192, 192, 192);
  min-height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
}

.logo-container {
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  width: 60px;
  height: 60px;
}

.menu-container {
  padding: 50px;
}

.cart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  position: absolute;
  right: 50px;
  color: #1f3933;
  fill: #1f3933;
  text-decoration: none;
  font-weight: bold;
}

.cart-container svg {
  stroke: #1f3933;
  stroke-width: 1px;
  width: 30px;
  height: 30px;
}

.cart-badge {
  width: 20px;
  height: 20px;
  background-color: rgb(223, 59, 59);
  border-radius: 50%;
  position: absolute;
  right: -7px;
  top: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-badge p {
  margin: 0;
  color: #eee;
  font-size: 12px;
  margin-bottom: 2px;
}

/* .cart-container:hover {
  color: #ccc;
  fill: #ccc;
} */

.cart-name {
  text-align: center;
}

.categories-container {
  display: flex;
}

hr {
  border-top: rgb(213, 213, 213);
}

.product-image-wrapper {
  background: #000;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  overflow: hidden;
}

.product-container {
  text-align: center;
  width: 150px;
  font-weight: 400;
  font-size: 22px;
  position: relative;
  margin: 20px;
}

.product-container img {
  width: 240px;
  margin-top: -20px;
  margin-left: -45px;
}

.product-container a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.drinks-container {
  padding: 50px;
}

.drinks-map {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.product-head {
  background-color: #1f3933;
  min-height: 250px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.product-head img {
  height: 250px;
  width: 250px;
}

.product-head h1 {
  color: #fff;
}

.product-image-container {
  height: 500px;
  width: 500px;
  border-radius: 8px;
}

.product-image-container img {
  height: 500px;
  width: 500px;
  border-radius: 8px;
  /* margin: 60px; */
}

.product-info {
  padding-left: 40px;
}

.product-body {
  display: flex;
  padding: 60px;
}

.product-name {
  font-size: 25px;
  font-weight: bold;
}

.product-price {
  font-size: 22px;
}

.options-container {
  display: flex;
  margin-top: 10px;
}

.options-container input {
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: flex;
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  padding: 0;
  cursor: pointer;
}

.options-container input[type="radio"] {
  display: none;
}

.options-container label {
  width: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  align-items: center;
  margin: 5px;
  border-radius: 8px;
}

.options-container label:hover {
  border: 1px solid #ccc;
}

.options-container input[type="radio"]:checked + label {
  background-color: #eee;
  border: 2px solid #1f3933;
}

.options-container form {
  display: flex;
}

.size-option {
  display: flex;
}

.app-button {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  color: #fff;
  border: #1f3933 solid;
  background-color: #1f3933;
  font-weight: bold;
  text-align: center;
}

.app-button:hover {
  color: #1f3933;
  background-color: #fff;
}

.app-button:active {
  background-color: #eee;
}

.app-button:disabled {
  color: #ccc;
  background-color: #eee;
  border: #ccc;
}

.counter-button {
  width: 40px;
  height: 40px;
  margin-top: 0;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.button-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.button-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.sub-counter-container {
  display: flex;
  margin-top: 10px;
}

.counter {
  width: 50px;
  border: 1px solid #1f3933;
  background-color: #fff;
}

.results {
  width: 40px;
  height: 20px;
  text-align: center;
  padding: 10px 0;
  background: #eee;
}

.warning-message {
  color: rgb(223, 59, 59);
  font-size: 15px;
}

.cart-title h2 {
  margin: 10px;
  text-align: center;
  color: #1f3933;
}

.cart-product-container {
  padding: 0 10%;
}

.cart-product-headings {
  display: block;
  padding: 0;
  margin: 0 0 0 30px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table tr {
  border-bottom: 0.5pt solid #ddd;
}

.cart-table th,
td {
  text-align: center;
  padding: 23px;
}

.cart-table img {
  height: 70px;
  width: 70px;
}

/* .cart-quantity-counter {
  width: 120px;
  margin: 0 auto;
  font-size: 15px;
} */

.cart-total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
}

.sub-total,
.total,
.tax,
.discount {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: 10px 0;
  border-bottom: 1px dashed #ddd;
}

.discount {
  color: rgb(136, 200, 40);
}

.checkout-button-container {
  display: flex;
  justify-content: flex-end;
}

.checkout-button {
  font-size: 20px;
  border-radius: 8px;
}

.delete-cross {
  color: #ccc;
}

.delete-cross svg {
  cursor: pointer;
}

.coupon-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.coupon {
  width: 20%;
}

.coupon label {
  font-weight: 700;
  margin-right: 5px;
  font-size: 10px;
}

.coupon input {
  width: 100%;
  border: 1px solid #898989;
  border-radius: 5px;
  height: 30px;
}

.coupon input:focus {
  background: #eee;
  outline-color: #62b6a2;
}

.coupon-wrapper {
  display: flex;
  align-items: center;
}

.apply-button {
  width: 53px;
  height: 34px;
  border-radius: 5px;
  margin: 0px 5px;
}

.delete-icon-container {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.delete-icon-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.size-badge {
  background-color: #ccc;
  width: 30%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px 0;
  font-size: 12px;
}

.click-add-to-cart {
  font-size: 20px;
}

.shipping-information-container {
  align-items: center;
}
.shipping-title h2 {
  margin: 10px;
  text-align: center;
  color: #1f3933;
}

.shipping-information {
  padding: 0 10%;
}

/* .shipping-information input{
  width: 100%;
  border: 1px solid #898989;
  border-radius: 5px;
  height: 30px;
} */

.inputs-name-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.inputs-name-wrapper input {
  width: 35%;
  border: 1px solid #898989;
  margin: 10px;
  border-radius: 5px;
  height: 30px;
}

.inputs-name-wrapper input:focus {
  background: #eee;
  outline-color: #62b6a2;
}

.inputs-name-wrapper select {
  width: 35%;
  border: 1px solid #898989;
  margin: 10px;
  border-radius: 5px;
  height: 30px;
}

.inputs-name-wrapper select:not(:focus) {
  color: #898989;
}
